.DiaryEditor {
  text-align: center;
  border: 1px solid rgb(225, 221, 221);
  box-shadow: 2px 2px rgb(236, 236, 236);
  margin: 10%;
  padding: 10%;
  background-color: salmon;
  color: rgb(10, 10, 108);
}
.DiaryEditor input,
textarea {
  padding: 10px;
  margin: 10px;
  width: 80%;
  border-radius: 1%;
}
.DiaryEditor textarea {
  height: 130px;
}
.DiaryEditor button {
  width: 80%;
  height: 38px;
  margin-top: 10px;
  cursor: pointer;
}

/* List */
.DiaryList {
  border: 1px solid rgb(225, 221, 221);
  margin: 10%;
  padding: 10%;
  background-color: salmon;
  color: rgb(10, 10, 108);
}
.DiaryList h2 {
  text-align: center;
}

/* Item */
.DiaryItem {
  background-color: rgb(242, 235, 235);
  margin-bottom: 10px;
  padding: 20px;
}
.DiaryItem .info {
  border-bottom: 1px solid rgb(178, 178, 184);
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.DiaryItem .date {
  color: rgb(111, 110, 110);
  text-align: end;
}
.DiaryItem .content {
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
}
